---
title: Rental Info
layout: page
permalink: rental.html
---

<section id="1bd">
  <h3>1 bedroom unit</h3>
  <p>
    Each unit has full kitchen with divided Dining Room and Living Room. 10 X 10 smaller Bed Room with full length window  Full Bathroom with Shower / Bath tub. Outer Balcony off Living Room compliments the spacious living area.
  </p>
  <div class="floor-plan">
    <h4>Floor Plan</h4>
    <img src="img/1bd_floor_plan.jpg" class="img-responsive" alt="">
  </div>
  <div class="image-gallery">
    {% for img in (1..4) %}
    <img src="img/1bd{{img}}.jpg" class="img-responsive img-rounded" alt="">
    {% endfor %}
  </div>
</section>


<section id="2bd">
  <h3>2 bedroom unit</h3>
  <p>
    Each unit has full kitchen with divided Dining Room and Living Room. 10 X 10 smaller Bed Room with small side window and a larger Master bedroom with Window. Full Bathroom with Shower / Bath tub. Outer Balcony off Dining Room compliments the spacious living area.
  </p>
  <div class="floor-plan">
    <h4>Floor Plan</h4>
    <img src="img/2bd_floor_plan.jpg" class="img-responsive" alt="">
  </div>
  <div class="image-gallery">
    {% for img in (1..4) %}
    <img src="img/2bd{{img}}.jpg" class="img-responsive img-rounded" alt="">
    {% endfor %}
  </div>
</section>

<section id="rental-info">
For 2015 / 16 Rental costs
 ( Share Purchase required )

1 Bedroom units range from:  $715 to $755
Share $1000

2 Bedroom units range from:  $837 to $877
Share $1500

Hot and Cold Water  included

Indoor and Outdoor Tenant Parking
 Indoor $10 &amp; Outdoor $ 6 per month

No Subsidies Available


Every tenant is expected to contribute 24 hours of participation per Year in CO-OP related tasks!

Active Social Committees
</section>
