---
title: Rental Info
layout: page
permalink: rental.html
order: 2
---

<div class="alert alert-info">
  <h3>NOTE: There are No Subsidies Available at the moment.</h3>
</div>

<section id="rental-info">
  Here are the rental prices. Share purchase is required.
<p>
  1 Bedroom units range from:  $715 to $755
  <br>
  Share $1000
</p>


<p>
  2 Bedroom units range from:  $837 to $877
  <br>
  Share $1500
</p>

<p>
  Hot and Cold Water  included
</p>

<p>
  Indoor and Outdoor Tenant Parking
  Indoor $10 &amp; Outdoor $ 6 per month
</p>
Every tenant is expected to contribute 24 hours of participation per year in CO-OP related tasks!
</section>

<section id="1bd">
  <div class="container-fluid">
    <h3>1 bedroom unit</h3>
    <div class="row">
      <div class="col-md-6">
        <img class="img-responsive" style="max-height: 400px;" src="img/1bd_floor_plan.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-md-6">
        <br>
        Each unit has full kitchen with divided Dining Room and Living Room. 10 X 10 smaller Bed Room with full length window  Full Bathroom with Shower / Bath tub. Outer Balcony off Living Room compliments the spacious living area.
      </div>
    </div>

    <div class="row image-gallery">
      {% for img in (1..4) %}
      <div class="col-md-3">
        <img src="img/1bd{{img}}.jpg" class="img-responsive img-rounded" alt="">
      </div>
      {% endfor %}
    </div>
  </div>
</section>



<section id="2bd">
  <div class="container-fluid">
    <h3>2 bedroom unit</h3>
    <div class="row">
      <div class="col-md-6">
        <img src="img/2bd_floor_plan.jpg" class="img-responsive" alt="">
      </div>

      <div class="col-md-6">
        <br>
        Each unit has full kitchen with divided Dining Room and Living Room. 10 X 10 smaller Bed Room with small side window and a larger Master bedroom with Window. Full Bathroom with Shower / Bath tub. Outer Balcony off Dining Room compliments the spacious living area.
      </div>
    </div>

    <div class="row">
        {% for img in (1..4) %}
        <div class="col-md-3">
          <img src="img/2bd{{img}}.jpg" class="img-responsive img-rounded" alt="">
        </div>
        {% endfor %}
    </div>
  </div>
</section>
